/*center elements*/
.center {
  text-align: center;
}

/*White space between label/input combinations
on the Login and Incident screens*/
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pageTitleStyle {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}


